<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
 xmlns:context="http://www.springframework.org/schema/context"
 xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
 xsi:schemaLocation="http://www.springframework.org/schema/beans
      http://www.springframework.org/schema/beans/spring-beans-3.0.xsd
      http://www.springframework.org/schema/context
      http://www.springframework.org/schema/context/spring-context.xsd">
	<!-- 这里没有使用作业调度 这部分功能直接交由Oracle的定时任务完成 -->
	<!--要调度的对象-->
	<bean id="jobBean" class="com.distribution.controller.BIController" />
	<bean id="jobDetail" class="org.springframework.scheduling.quartz.MethodInvokingJobDetailFactoryBean">
	    <property name="targetObject" ref="jobBean" />
	    <property name="targetMethod" value="execute" />
	    <!--将并发设置为false-->
	    <property name="concurrent" value="false" />
	</bean>
	
	<bean id="trigger" class="org.springframework.scheduling.quartz.CronTriggerBean">
	        <property name="jobDetail" ref="jobDetail" />
            <!--表达式，我的是每 30 执行一次-->
            <property name="cronExpression" value="0/30 * * * * ?" />
	</bean>
	
	<!--  总管理类如果将lazy-init='false'那么容器启动就会执行调度程序   -->
	<bean id="startQuertz" class="org.springframework.scheduling.quartz.SchedulerFactoryBean" lazy-init="false">
	        <property name="triggers">
	            <list>
	                <!--作业调度器,list下可加入其他的调度器-->
	            	<ref bean="trigger" />
	            </list>
	    </property>
	</bean>

</beans>