<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.distribution.dao.ShopMapper">
	<select id="getOrder" parameterType="String" >
		select case when max(substr(t.ord_id,-4)) is not null then lpad(to_char(to_number(substr(max(t.ord_id),-4))+1),4,'0') else '0001' end order_num
		from order_info t
		where t.org_id=#{org_id}
      		  and t.pdate=to_char(sysdate,'yyyymmdd')
	</select>
</mapper>