<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.distribution.dao.UserMapper">  
  <select id="getUserLevel" parameterType="String" resultType="UserEntity">
	select user_nm,
		   user_pwd,
		   user_access
	from user_info
	where user_nm=#{username}
  </select>
  <!-- 参数还没写 -->
  
  
  <!-- 通过用户名获取店仓ID -->
  <select id="getOrgIdByUserNm" parameterType="String" resultType="String">
  	select t.org_id
  	from user_info t
  	where t.user_nm=#{user_nm}
  </select>
  
  
  
</mapper>