<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.distribution.dao.UserMapper">  
  <select id="getUserLevel" parameterType="String" resultType="UserEntity">
	select usr_nm,
		   usr_pwd,
		   usr_access
	from user_info
	where usr_nm=#{username}
  </select>
  <!-- 参数还没写 -->
</mapper>